
$background: rgb(243,243,243);
$card-color: rgb(255,255,255);
$anno-color: rgb(0,0,0);

$primary: rgb(0,127,255);
$error-color: red;
$success-color: rgb(62, 160, 62);
$info-color: green;
$warning-color: gold;
$log-color: grey;
$debug-color: grey;

//TI-83 Theme
//$background: #E7E9DC;
//$anno-color: #4E4F43;
//$card-color: #F7F7F7;