/*
    This css shall only contain the scope for the terminal & calculator
    It should not extend out into the page itself
*/
@import "colors.scss";

.Line {
    position: relative;
    display:flex;

    td {
        flex: 1 1 auto;
    }
}

.card {
    ::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
    }

    .input {
        &::before { //Added to .input
            content: ">";
        }
    }

    .output {
        color: $primary;
        &::before {
            content: "<";
        }
    }
    
    .success {
        color: $success-color;
    }

    .info {
        color: $info-color;
    }

    .log {
        color: $log-color;
    }

    .debug {
        color: $debug-color;
    }

    .warning {
        color: $warning-color;

        &::before {
            content: "!";
        }
    }

    .error {
        color: $error-color;

        &::before {
            content: "x";
        }
    }
}

.card-input {
    display:flex;

    .input::before {
        color: $primary;
    }
    
    input {
        padding: 0.5rem;
        padding-left: 1.5rem;
        resize: none;
        background: none;
        border: none;
        flex: 1 1 auto;
    }
}

.card-output {
    table {
        margin: 0;

        tr:first-child td {
            border-top: 0;
        }

        td {
            padding: 0.5rem;
            padding-left: 1.5rem;
        }
    }
}


body, html {
    .dark {

    }
}