/*
    This css shall only contain the scope for the terminal & calculator
    It should not extend out into the page itself
*/
.Line {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.Line td {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card ::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card .input::before {
  content: ">";
}

.card .output {
  color: #007fff;
}

.card .output::before {
  content: "<";
}

.card .success {
  color: #3ea03e;
}

.card .info {
  color: green;
}

.card .log {
  color: grey;
}

.card .debug {
  color: grey;
}

.card .warning {
  color: gold;
}

.card .warning::before {
  content: "!";
}

.card .error {
  color: red;
}

.card .error::before {
  content: "x";
}

.card-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.card-input .input::before {
  color: #007fff;
}

.card-input input {
  padding: 0.5rem;
  padding-left: 1.5rem;
  resize: none;
  background: none;
  border: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card-output table {
  margin: 0;
}

.card-output table tr:first-child td {
  border-top: 0;
}

.card-output table td {
  padding: 0.5rem;
  padding-left: 1.5rem;
}
/*# sourceMappingURL=terminal.css.map */